<ion-header>
    <ion-navbar color="white">
        <ion-title>Корзина</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="align-center" *ngIf="!ready" style='padding-top:20px;'>
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="ready">
        <div class="cart-empty" *ngIf="Cart.count == 0">
            <ion-icon name="ios-sad-outline" color="main"></ion-icon>
            <div class="text">
                Ваша корзина пуста
            </div>
        </div>
        <ion-list style="">
            <ng-container *ngIf="!Cart.isCartEmpty">
                <ion-item class="resources_list resources_list__cart" *ngIf="Cart.DiscountItem; let item">
                    <div class="resource__item">
                        <div class="row">
                            <div class="col-33 animated">
                                <div class="" style="height: 100%;">
                                    <img [src]="API.server + item.item.tv_image" alt="{{item.item.pagetitle}}" class="food_img">
                                </div>
                            </div>
                            <div class="col">
                                <div class="resource__item__content" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <div>
                                        <div class="resource__item__content__top">
                                            <h3>{{item.item.pagetitle}}</h3>

                                            <span *ngIf="item.count === 0">
                                                <span class="resource__item__price" style="margin-top: 5px;">{{item.discountPrice | number}}</span> <br/>
                                                <span class="resource__item__price resource__item__undiscountPrice" style="margin-top: 5px;">{{item.price | number}}</span>
                                            </span>

                                            <span *ngIf="item.count !== 0">
                                                <span class="resource__item__price" style="margin-top: 5px;">{{item.count * item.discountPrice | number}}</span> <br/>
                                                <span class="resource__item__price resource__item__undiscountPrice" style="margin-top: 5px;">{{item.count * item.price | number}}</span>
                                            </span>
                                            <span *ngIf="item.item.tv_weight" class="resource__item__weight fontSize-12">({{item.item.tv_weight}})</span>
                                        </div>
                                        <div class="resource__item__intro fontSize-12" [innerHTML]="item.item.description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center;">                        
                            <div class="resource__item__btns">
                                <div *ngIf="item.count > 0">
                                    <span class="resource__item__btn minus" style="padding-bottom: 0px;" [class.activated]="item.minus" (tap)="Cart.addDiscountedItem(-1)" (touchstart)="item.minus = true" (touchend)="item.minus = false">
                                        <ion-icon name="ios-remove-outline"></ion-icon>
                                    </span>
                                    {{item.count}}
                                    <span class="resource__item__btn plus" style="padding-bottom: 0px;" [class.activated]="item.plus" (tap)="Cart.addDiscountedItem(1)" (touchstart)="item.plus = true" (touchend)="item.plus = false">
                                        <ion-icon name="ios-add-outline"></ion-icon>
                                    </span>
                                </div>
                                <button class="button" style="font-size: 10px !important;" *ngIf="item.count == 0" (tap)="Cart.addDiscountedItem(1)">
                                    В&nbsp;корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ng-container>

            <ion-item-sliding *ngFor="let item of Cart.list">
                <ion-item class="resources_list resources_list__cart">
                    <div class="resource__item">
                        <div class="row">
                            <div class="col-33 animated">
                                <div class="" style="height: 100%;">
                                    <img [src]="API.server + item.item.tv_image" alt="{{item.item.pagetitle}}" class="food_img">
                                </div>
                            </div>
                            <div class="col" style="width: 55%;">
                                <div class="resource__item__content" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <div>
                                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                            <div class="resource__item__content__top" style="margin-top: 5px;">
                                                <h3>{{item.item.pagetitle}}</h3>
                                                
                                                <span *ngIf="item.item.tv_weight" class="resource__item__weight fontSize-12" style="margin-top: 5px;">({{item.item.tv_weight}})</span>
                                            </div>
                                            <span class="resource__item__price">{{item.count * item.item.tv_price | number}}</span>
                                        </div>
                                        <div class="resource__item__intro fontSize-12" [innerHTML]="item.item.description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center;">                            
                            <div class="resource__item__btns">
                                <div *ngIf="item.count > 0">
                                    <span class="resource__item__btn minus" style="padding-bottom: 0px;" [class.activated]="item.minus" (tap)="Cart.removeItem(item.item.id, false)" (touchstart)="item.minus = true" (touchend)="item.minus = false">
                                        <ion-icon name="ios-remove-outline"></ion-icon>
                                    </span>
                                    {{item.count}}
                                    <span class="resource__item__btn plus" style="padding-bottom: 0px;" [class.activated]="item.plus" (tap)="Cart.addItem(item.item.id)" (touchstart)="item.plus = true" (touchend)="item.plus = false">
                                        <ion-icon name="ios-add-outline"></ion-icon>
                                    </span>
                                </div>
                                <button class="button" style="font-size: 10px !important;" *ngIf="item.count == 0" (tap)="Cart.addItem(item.item.id)">
                                    В&nbsp;корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (tap)="Cart.deleteItem(item.item.id, item.count)">
                        <ion-icon name="trash" style="font-size:44px;"></ion-icon>
                        Удалить
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
<ion-footer style="padding: 10px;">
    <div class="" *ngIf="Cart.discount_msg" style="padding-bottom: 5px; text-align: center; font-size: 10px;">
        {{Cart.discount_msg}}
    </div>
    <div style="line-height: 1.3px;">
        <div class="checkout-total" *ngIf="Cart.total > 0" style="align-items: center;">
            Сумма заказа <span class="checkout-total__summ" style="margin-top: 0px !important; ">{{Cart.total}}</span>
        </div>
        <div class="checkout-minimal" *ngIf="Cart.total < minimalOrderPrice">
            Минимальная сумма заказа <span class="checkout-minimal__summ">{{minimalOrderPrice}}</span>
        </div>
    </div>
    <ion-grid *ngIf="Cart.total > 0">
        <ion-row>
            <ion-col col-6>
                <button ion-button full outline class="button button-outline button-light invert-button-clear" style="border-width:1px;border-color:#ddd;" (tap)="Cart.clear()">
                    Очистить
                </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button full class="button button-energized invert-button-checkout" (tap)="openOrder()" [disabled]="!canOpenOrder">
                    Продолжить
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
